/* Outer header styles */
.header {
  color: black;
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 36px;
  margin-top: 50px;
  /* margin-bottom: px; */
}

.queue-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  
  .header-row {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .data-row {
    border-bottom: 1px solid #ccc;
  }
  
  .actions-cell {
    text-align: right;
  }
  
  .delete-button {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  